In [2]:
import pandas as pd

In [44]:
df = pd.read_csv("train.csv" , encoding = 'gb18030')

trouble_df = df.iloc[:,0:3]
good_df = df.iloc[:,3:]

trouble_df.columns = ['date','locations','item']
#trouble_df.head()
frames = [trouble_df,good_df]
train_df = pd.concat(frames,axis=1)
train_df.head()

#train_df.columns[0:4] = ['date','locations','item','d']
#train_df.rename(index = str , columns = {'0' : 'd','locations' : 'l','item' : 'i'})
#print (train_df.columns)
#train_df.head()

#print (type(train_df))

,date,locations,item,0,1,2,3,4,5,6,...,14,15,16,17,18,19,20,21,22,23
0,2014/1/1,伦,AMB_TEMP,14,14,14,13,12,12,12,...,22,22,21,19,17,16,15,15,15,15
1,2014/1/1,伦,CH4,1.8,1.8,1.8,1.8,1.8,1.8,1.8,...,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8
2,2014/1/1,伦,CO,0.51,0.41,0.39,0.37,0.35,0.3,0.37,...,0.37,0.37,0.47,0.69,0.56,0.45,0.38,0.35,0.36,0.32
3,2014/1/1,伦,NMHC,0.2,0.15,0.13,0.12,0.11,0.06,0.1,...,0.1,0.13,0.14,0.23,0.18,0.12,0.1,0.09,0.1,0.08
4,2014/1/1,伦,NO,0.9,0.6,0.5,1.7,1.8,1.5,1.9,...,2.5,2.2,2.5,2.3,2.1,1.9,1.5,1.6,1.8,1.5

In [54]:
train_df.T.head()
#print (train_df.T)

,0,1,2,3,4,5,6,7,8,9,...,4310,4311,4312,4313,4314,4315,4316,4317,4318,4319
date,2014/1/1,2014/1/1,2014/1/1,2014/1/1,2014/1/1,2014/1/1,2014/1/1,2014/1/1,2014/1/1,2014/1/1,...,2014/12/20,2014/12/20,2014/12/20,2014/12/20,2014/12/20,2014/12/20,2014/12/20,2014/12/20,2014/12/20,2014/12/20
locations,伦,伦,伦,伦,伦,伦,伦,伦,伦,伦,...,伦,伦,伦,伦,伦,伦,伦,伦,伦,伦
item,AMB_TEMP,CH4,CO,NMHC,NO,NO2,NOx,O3,PM10,PM2.5,...,PM10,PM2.5,RAINFALL,RH,SO2,THC,WD_HR,WIND_DIREC,WIND_SPEED,WS_HR
0,14,1.8,0.51,0.2,0.9,16,17,16,56,26,...,17,6,0.2,88,1.6,1.8,46,36,1.9,0.7
1,14,1.8,0.41,0.15,0.6,9.2,9.8,30,50,39,...,22,1,NR,91,1.4,1.8,13,55,2.4,0.8